@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["BackUrl"] = Url.Action("Index", "Search");
}

<partial name="_PageBack" />

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
